{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Envelope + Letter (Open/Close on Click)</title>
    <link rel="stylesheet" href="{% static 'assets/css/envelope.css'%}">
</head>
<body>
    <div class="container">
        <div class="envelope-wrapper">
            <div class="envelope">
                <div class="letter">
                    <div class="text">
                        <strong>Dear Person.</strong>
                        <p>
                            Hi Shiela,

                            Happy Valentine’s Day! 💐 I just wanted to tell you how amazing you are. The way you smile, the way you talk—everything about you is special. You have this way of making the world around you brighter, and I can’t help but admire you more every day.
                            
                            I hope today brings you as much happiness as you bring happines to me. ❤️
                            
                            - Jeff
                        </p>
                    </div>
                </div>
            </div>
            <div class="heart"></div>
        </div>
    </div>
    <script>
        const envelope = document.querySelector('.envelope-wrapper');
        envelope.addEventListener('click', () => {
            envelope.classList.toggle('flap');
        });
    </script>
</body>
</html>
{% endblock %}